#map {
    width: 100vw;
    height: 100vh;
}

.floating-range {
    position: fixed;
    bottom: 30px;
    left: 15px;
    width: 430px;
    z-index: 999;   
    background-color: rgb(241, 235, 235);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}
  
.floating-content {
    display: flex;
    align-items: center;
}